<h1>Ripristino password</h1>
<p>
  E` stata effettuata una richiesta di ripristino password per l'account
  <%= @sector.email %>.
  Per ripristinare la password, clicca sul seguente link (se non riesci a cliccare puoi copiarlo e incollarlo nel tuo browser):<br/>
  <%= edit_admin_password_reset_url(@sector.password_reset_token) %>
</p>
<p>
  Se non sei tu ad aver chiesto il ripristino della password, cancella questa mail e non ti preoccupare! La tua password rimarrà la stessa.
</p>
