<li class="slide" id="<%= slide.id %>">
  <div class="sortable-default">
    <span class="helper"></span><%= image_tag(slide.image.url, class: "img-sortable") %>
  </div>
  <div class="slide_button">
    <%= link_to raw('<span class="icon"></span> Elimina'), [:admin, slide], method: :delete,
                                     data: { confirm: "Sei sicuro di voler eliminare la slide?" },
                                     title: slide.text, :class => "btn-delete" %>
  </div>
</li>
