<div class="slide-cell" id="<%= slide.id %>">
  <div class="slide">
    <div class="slide-img-container">
      <span class="center-img-helper"></span><%= image_tag(slide.image.url, class: "img-slide") %>
      <div class="slide-text">
        <h1><%= slide.text %></h1>
      </div>
    </div>
    <div class="slide-bottom">
      <%= link_to raw('<span class="icon"></span> Elimina'), [:admin, slide], method: :delete,
                                     data: { confirm: "Sei sicuro di voler eliminare la slide?" },
                                     title: slide.text, :class => "btn-delete slide-btn-delete" %>
    </div>
  </div>
</div>
