<% provide(:title, "Carousel") %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_path %></li>
  <li class="active">Carousel</li>
</ol>
<div class="page-container">
  <h2 class="page-header">Carousel - slide presenti:
    <%= @sector.slides.count %>
  </h2>
  <p class="alert alert-info"> Vuoi <strong>ordinare</strong> le slide? Trascinale e l'ordine verrà registrato. <strong>Ricorda:</strong> l'ordine va da sinistra a destra, dall'alto al basso.</p>
  <div class="slide-top-buttons">
    <%= link_to raw('<span class="icon"></span> Nuova slide'), new_admin_slide_path, :class => "btn btn-new" %>
    <span class="controller">slides</span>
  </div>
  <% if @sector.slides.any? %>
    <div class="container-fluid">
      <div class="sortable row">
        <%= render @slides %>
      </div>
    </div>
  <% end %>
</div>
