<% provide(:title, @sector.name) %>
<% provide(:nav_public, 'nav_public_sector') %>
<% provide(:header_bottom, 'carousel_public') %>
<div class="news-public">
  <h2 class="page-header-public">LE ULTIME NEWS</h2>
  <%= render 'posts/posts' %>
  <div class="more-news"><%= link_to 'Leggi altre news...', sector_posts_path(@sector) %></div>
</div>
