<% provide(:title, 'Home') %>
<% provide(:nav_public, 'nav_public_root') %>
<% provide(:header_bottom, 'carousel_public') %>
<div class="sectors-public">
  <h2 class="page-header-public">I NOSTRI SETTORI</h2>
  <% sec_size = @sectors.size %>
  <% @sectors[0..-1].each_with_index do |sector, index| %>
    <% sector_size_class = "col-md-6" %>
    <% sector_size_class = "col-md-12" if index == sec_size - 1 %>
    <div class="sector-public <%= sector_size_class %>">
      <%= link_to raw(image_tag("sport-icons-home/icon-"+sector.sector_class+".png", class: "sector-icon-public")+ sector.name), sector_path(sector.unique_name), class:"sector-link-public-" + sector.sector_class %>
    </div>
  <% end %>
</div>
<div class="news-public">
  <h2 class="page-header-public">LE ULTIME NEWS</h2>
  <%= render 'posts/posts' %>
  <div class="more-news"><%= link_to 'Leggi altre news...', sector_posts_path(@sector) %></div>
</div>
