<% provide(:title, "Ripristino password") %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_path %></li>
  <li class="active">Reset password</li>
</ol>
<% unless @sectors.nil? %>
  <%= form_tag admin_password_resets_path, :class => 'form-center', :method => :post do %>
    <h2>Password dimenticata</h2>
    <%= collection_select :sector, :id, @sectors, :id, :name, {prompt: "Scegli un settore"}, {class: "form-control", :required => true} %>
    <%= submit_tag "Ripristina password", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
<% end %>