// Place all the styles related to the admin/banners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$banner-height: 230px;
$banner-img-height: ($banner-height - 20px)*(85/100);
$banner-border-height: ($banner-height - 20px)*(15/100);

.horizontal_banners { @extend .col-sm-9 }
.vertical_banners { @extend .col-sm-3 }

.h_sortable { margin-top:10px; }
.v_sortable { margin-top:10px; }

.banner-cell {
    padding:10px;
}

.banners-placeholder {
    margin-top:-2px;
    padding: 10px;
    border: 1px solid $darkBlue;
    background: $lightBlue;
    border-radius: 4px;
    @include box-shadow($placeholder-shadow);
    box-shadow: $placeholder-shadow;
}

.banner {
    border: 1px solid $lightGray;
    border-radius: 4px;
    height: 100%;
    width:100%;
    margin: 0 auto;
    padding:0;
}

.banner-img-container {
    position:relative;
    background: $gray-lighter;
    text-align: center;
}

.img-banner {
    width: 100%;
}

.banner-bottom {
    @include border-bottom-radius(2px);
    position: relative;
    height: $banner-border-height;
    background-color:black;
    color: white;
    padding-left:15px;
}

.banner-btn-delete {
    @extend .btn-xs;
    position: absolute;
    bottom:10%;
    right: 0.5%;
}
