// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$category-height: 256px;
$category-img-height: ($category-height - 20px)*(78/100);
$category-border-height: ($category-height - 20px)*(11/100);

.category-cell {
    @extend .col-md-3;
    @extend .col-sm-4;
    text-align: center;
    padding:10px;
    height: $category-height;
}

.categories-placeholder {
    @extend .category-cell;
    border: 1px solid $darkBlue;
    background: $lightBlue;
    border-radius: 4px;
    @include box-shadow($placeholder-shadow);
    box-shadow: $placeholder-shadow;
}

.category { 
    max-width:300px;
    height: 100%;
    margin: 0 auto;
    padding:0;
}

.category-border {
    background-color:black;
    color: white;
    height:$category-border-height;
    line-height:$category-border-height;
    padding-left:15px;
}

.category-name {
    @include border-top-radius(3px);
    @extend .category-border;
}

.category-img-container {
    border-left: 1px solid $lightGray;
    border-right: 1px solid $lightGray;
    background-color: $gray-lighter;
    height: $category-img-height;
    text-align: center;
}

.img-category {
    vertical-align: middle;
    max-height: $category-img-height;
    max-width: 100%;
    margin: 0 auto;
}

.category-bottom {
    @include border-bottom-radius(3px);
    @extend .category-border;
    padding-left:0;
    position: relative;
    .category-buttons {
      a {
          position: absolute;
          bottom:2px;
          @extend .btn-xs;
          &.btn-edit {
            left:3px;
          }
          &.btn-delete {
            right:3px;
          }
      }
    } 
}

.category-btn-delete {
  @extend .pull-right;
  @extend .btn-xs;
  position: absolute;
  bottom: 20%;
  right: 5%;
}