// Place all the styles related to the admin/people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$person-height: 256px;
$person-img-height: ($person-height - 20px)*(78/100);
$person-border-height: ($person-height - 20px)*(11/100);

.person-cell {
    @extend .col-md-3;
    @extend .col-sm-4;
    text-align: center;
    padding:10px;
    height: $person-height;
}

.people-placeholder {
    @extend .person-cell;
    border: 1px solid $darkBlue;
    background: $lightBlue;
    border-radius: 4px;
    @include box-shadow($placeholder-shadow);
    box-shadow: $placeholder-shadow;
}

.person { 
    max-width:300px;
    height: 100%;
    margin: 0 auto;
    padding:0;
}

.person-border {
    background-color:black;
    color: white;
    height:$person-border-height;
    line-height:$person-border-height;
    padding-left:15px;
}

.person-name {
    @include border-top-radius(3px);
    @extend .person-border;
}

.person-img-container {
    border-left: 1px solid $lightGray;
    border-right: 1px solid $lightGray;
    background-color: $gray-lighter;
    height: $person-img-height;
    text-align: center;
}

.img-person {
    background-color: white;
    vertical-align: middle;
    max-height: $person-img-height;
    max-width: 100%;
    margin: 0 auto;
}

.person-bottom {
    @include border-bottom-radius(3px);
    @extend .person-border;
    padding-left:0;
    position: relative;
    .person-buttons {
      a {
          position: absolute;
          bottom:2px;
          @extend .btn-xs;
          &.btn-edit {
            left:3px;
          }
          &.btn-delete {
            right:3px;
          }
      }
    } 
}

.person-btn-delete {
  @extend .pull-right;
  @extend .btn-xs;
  position: absolute;
  bottom: 20%;
  right: 5%;
}