// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  @extend .row;
  margin: 10px 0 10px 0;
  .post {
    padding: 10px 0;
    border-top: 1px solid $lightGray;
  }
}
  
.post_title {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.post_timestamp {
  color: $gray-light;
}

.post_buttons {
  a {
      @extend .btn-xs;
      margin-right:10px;
  }
  margin-top:5px;
} 

.preview-lead-image img{
  @extend .img-thumbnail;
  max-height: 200px;
}