// Place all the styles related to the admin/slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$slide-height: 200px;
$slide-img-height: ($slide-height - 20px)*(85/100);
$slide-border-height: ($slide-height - 20px)*(15/100);

.slide-cell {
    @extend .col-md-4;
    padding:10px;
    height: $slide-height;
}

.slides-placeholder {
    @extend .slide-cell;
    border: 1px solid $darkBlue;
    background: $lightBlue;
    border-radius: 4px;
    @include box-shadow($placeholder-shadow);
    box-shadow: $placeholder-shadow;
}

.slide-content {
    border: 1px solid $lightGray;
    border-radius: 4px;
    max-width:400px;
    height: 100%;
    margin: 0 auto;
    padding:0;
}

.slide-text {
    color:white;
    font-family: "Boogaloo", sans-serif;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: absolute; 
    text-align:center;
    bottom:5%;
    left:15%; 
    right:15%;
    h1 {
        font-size: 20px;
    }
}

.slide-img-container {
    position:relative;
    height: $slide-img-height;
    background-color: $gray-light;
    text-align: center;
    overflow: hidden;
    .slide-img{
        position:relative;
        top: -50%; 
        left: -50%; 
        width: 200%; 
        height: 200%;
        .img-slide {
            position: absolute; 
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0; 
            margin: auto; 
            width: 50%;
        }
    }  
}

.slide-bottom {
    @include border-bottom-radius(2px);
    position: relative;
    height: $slide-border-height;
    background-color:black;
    color: white;
    padding-left:15px;
}

.slide-btn-delete {
    @extend .btn-xs;
    position: absolute;
    bottom:10%;
    right: 1%;
}