<div class="row">
  <div class="col-md-4"><%= link_to 'Staff', admin_category_people_path(@category), :class => "btn btn-primary btn-lg admin-btn" %></div>
  <div class="col-md-4"><%= link_to 'Calendari', admin_category_calendars_path(@category), :class => "btn btn-primary btn-lg admin-btn" %></div>
  <div class="col-md-4"><%= link_to 'Orari', admin_category_schedules_path(@category), :class => "btn btn-primary btn-lg admin-btn" %></div>
</div>
