/* COLORS */
$usma-primary: gold;
$usma-secondary: #dd3333;
$black: #000000;
$lightBlack: #333333;
$darkBlue: $brand-primary;
$lightBlue: #d9edf7;
$lightGray: #D8D8D8;
//admin colors:
$adminGrayFrom: $gray-dark;
$adminGray: #8f8f8f;
$adminBlueFrom: darken($btn-info-bg, 20%);//#3A83AB;
$adminBlue: $btn-info-bg;//#53bbf4;
$adminOrangeFrom: darken($btn-warning-bg, 20%);//#B87C00;
$adminOrange: $btn-warning-bg;//#ffac00;
$adminGreenFrom: darken($btn-success-bg, 20%);//#7CA400;
$adminGreen: $btn-success-bg;//#b1eb00;
$adminPinkFrom: #CC6AA2;
$adminPink: #ff85cb;
$adminRedFrom: darken($btn-danger-bg, 20%);//#B22F20;
$adminRed: $btn-danger-bg;//#ff432e;

/* DIMENSIONS */
$standard-spacing: 20px;//1.5em;
$small-width: 350px;//30em;
$large-width: 600px;//50em;
$admin-btn-height: 120px;//6em;
$footer-height: 100px;//5em;
$placeholder-shadow: 0 0 10px #888;

/* LEADERBOARD */
@mixin admin-leaderboard-color($class, $colorTo, $colorFrom) {
    .admin-leaderboard-#{$class} {
        @extend .carousel-caption;
        background-color: $colorTo;
        @include gradient-vertical($colorFrom, $colorTo);
        position:static;
        height: 230px;//10em;
        width:100%;
        margin-bottom: $standard-spacing;
        h1 {
            font-size: 58px;
        }
        p {
            font-size: 24px;
        }
    }
}

@include admin-leaderboard-color(society, $adminGray, $adminGrayFrom);
@include admin-leaderboard-color(football, $adminGreen, $adminGreenFrom);
@include admin-leaderboard-color(basket, $adminOrange, $adminOrangeFrom);
@include admin-leaderboard-color(volley, $adminRed, $adminRedFrom);
@include admin-leaderboard-color(athletics, $adminBlue, $adminBlueFrom);
@include admin-leaderboard-color(motoria, $adminPink, $adminPinkFrom);

/* BUTTONS & ICONS */
@mixin glyphicons($name, $icon, $btn) {
    .btn-#{$name} {
        @extend .btn;
        @extend .btn-#{$btn};
        white-space: normal;
        .icon {
            @extend .glyphicon;
            @extend .glyphicon-#{$icon};
        }
    }
}

@include glyphicons(new, plus, primary);
@include glyphicons(edit, pencil, info);
@include glyphicons(delete, trash, danger);
@include glyphicons(save, floppy-save, success);
@include glyphicons(upload, cloud-upload, primary);


html, body { height: 100%; font-family: 'Droid Sans', Arial, Helvetica, sans-serif;}

body { padding-top: 50px; /* same as navbar height */ }

.page-container {@extend .container; margin-top: 20px; margin-bottom:20px; width:100%}

.page-header-private {margin-top:0; }

.breadcrumb { border: 1px solid $lightGray; }

.btn-final { @extend .btn-lg; }

.pagination-div {
  margin-top:20px;
}

.pagination-div-public{
  li > a {
    //color: $lightBlack;
    &:hover {
      //color: black;
    }
  }
  .active > a {
    background-color: $lightBlack;
    border-color: $lightBlack;
    &:hover {
      background-color: $lightBlack;
      border-color: $lightBlack;
    }
  }
  ul.pagination {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
  }
} 

.pagination {
  margin: 0 0 10px 0;
  &>li:first-child > a {
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
  }
  &>li:last-child > a {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
  }
  @media (max-width: 480px) {
    li {
      display: none;
      &.active,&.prev,&.next {
        display: inline;
      }
    }  
  }
}

#push { height: $footer-height; }

footer {
    background-color:$gray-light;
    min-height: $footer-height;
    box-shadow: 0 1px 10px $gray-dark;
    p {
        text-align: center;
        color:white;
        margin:$standard-spacing 0;
    }
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer-height);
}

.admin-btn {
    border-radius:2px;
    width:100%;
    height:$admin-btn-height;
    margin-bottom: $standard-spacing;
    line-height: (3*$admin-btn-height)/4;
    font-size: 1.8em;
}

/* FORM */
.form-center {
    max-width: $small-width;
    margin: 0 auto;
    .form-control {
        height:auto;
        padding: 10px;
        font-size: 16px;
    }
    .btn-block {
        margin: $standard-spacing 0;
    }
}

.form-center-lg {
    @extend .form-center;
    max-width:$large-width;
}

.form-center-full {
    @extend .form-center;
    max-width:100%;   
}

.form-select-input {
    @extend .form-center;
    select {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

    }
    input[type="password"] {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.form-3-input {
    @extend .form-center;
    input.first {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input.second {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input.third {
        margin-top: -2px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.form-3-input-lg {
    @extend .form-3-input;
    max-width: $large-width;
}

.callout {
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    h3 {
        margin-top:0;
    }
}

.callout-info {
    @extend .callout;
    border-left-color: $brand-info;
}

.controller { display: none; }

.sortable { margin-top: 10px; }

.center-img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/* NAVBAR MENU  */
.public-navbar {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;
    .container {
        width: 100%;
        max-width: 1500px;
    }
    border: none;
    background-color: gold;
    box-shadow: 0 1px 10px $gray-dark;
    .navbar-toggle {
        .icon-bar {
            background-color: $lightBlack;
        }
        &:hover .icon-bar, &:focus .icon-bar {
            background-color: white;
        }
    }
    .public-nav {
        @extend .nav; 
        @extend .navbar-nav;
        @extend .navbar-right;
        li > a {
            color: $lightBlack;
            &.active {
                background-color: $lightBlack;
            }
            &:hover, &:focus {
                color: $usma-secondary;
            }
        }
        .open {
            &>a, &>a:focus {
                background-color: $lightBlack;
            }
            .dropdown-menu > li > a {
                color:$lightBlack;
                &:hover {
                    color:$usma-secondary;
                }
            }
        }
        .active > a, .active > a:focus {
          background-color: $lightBlack;
        }
    }

    .public-navbar-brand {
        @extend .navbar-brand;
    }

    .public-navbar-collapse {
        @extend .navbar-collapse;
        border: none;
    }
}

/* SMARTPHONE */
@media(max-width:768px) {
    .public-navbar .public-navbar-brand {
        padding:0;
        height: 50px;
        img {
            height:100%;
        }
    }
}
/* ELSE */
@media(min-width:768px) {
    body {
        padding-top:70px;
    }

    .public-navbar .public-nav {
        height: 70px;
        li {
            height: 100%;
            a {
                padding-left:20px;
                padding-right:20px;
                font-size:18px;
                line-height: 40px;
                height: 100%;
            }
        }
        
    }

    .public-navbar .public-navbar-brand {
        padding:0;
        height: 70px;
        img {
            margin-left:15px;
            height:100%;
        }
    }

    /* TABLET 10 */
    @media(max-width: 1200px) {
        .public-navbar .public-nav li > a {
            padding-left:15px;
            padding-right:15px;
            font-size:15px;
        }
    }

    /* TABLET 7 */
    @media(max-width: 991px) {
        .public-navbar .public-navbar-brand {
            padding:0;
            height: 60px;
            margin-top:5px;
            img {
                height:100%;
            }
        }
        .public-navbar .public-nav li > a{
            font-size:14px;
        }
    }
    @media(max-width: 900px) {
        .public-navbar .public-nav li > a{
            padding-left:12px;
            padding-right:12px;
            font-size:12px;
        }
    }
    @media(max-width: 800px) {
        .public-navbar .public-nav li > a{
            padding-left:10px;
            padding-right:10px;
        }
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-container {
    @extend .container;
    padding:0;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.3);
}

/* Carousel base class */
#public-carousel {
  background-color:$gray-light;
  height: 400px;
  margin: 0 auto;
  .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    z-index:0;
    padding:0;
    h1 {
      margin:0;
      padding: 10px 10% 50px;
      text-shadow: 3px 3px 3px $gray-dark;
      font-family: "Boogaloo", sans-serif;
      font-weight: normal !important;
      font-size: 50px;
      background-color:rgba(0, 0, 0, 0.5);
    }
  }
  .carousel-indicators > li, .carousel-indicators > li .active {
    background-color: white;
    border: 1px solid $gray-dark;
    box-shadow: 1px 1px 1px $gray-dark inset;
    width:16px;
    height: 16px;
  }

  .carousel-indicators .active {
    width:16px !important;
    height: 16px !important;
    margin: 1px;
    background-color: gold;
  }

  .carousel-indicators {
    bottom:0;
    &>li, &>li.active {
      @media(max-width:480px) {
        width:13px !important;
        height:13px !important;
      }
    }

  }
  /* Declare heights because of positioning of img element */
    
  .carousel-inner > .item {
    height: 400px;
    max-height: 400px;
    text-align: center;
    a {
      color: white;
    }
    &:hover a {
      color:gold;
      text-decoration:none;
    }
    .item-bg {
      position: relative; 
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;
      img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        width: 50%;
      }
    }
  }

}

@media(max-width:991px) {
  #public-carousel{
    .carousel-caption h1 {
      font-size:40px;
    }
  }
}

@media(max-width:768px) {
  #public-carousel {
    max-height: 200px;
    .carousel-caption h1 {
      font-size:25px;
      padding-bottom:35px;
    }
    .carousel-inner .item {
      max-height: 200px;
      line-height: 200px;
    }
  }
}

@media(max-width:480px) {
  #public-carousel {
    .carousel-caption h1 {
      font-size:20px;
    }
  }
}


.main-container {
    @extend .container;
    background-color: $gray-lighter;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.3);
}

@mixin body_bg($sector) {
    .body-public-#{$sector} {
        background: url(image-path('bg-#{$sector}.jpg')) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-top:70px;
        color: $lightBlack;
    }
    @media(max-width: 768px) {
        .body-public-#{$sector} {
            background-position-top:50px;
        }
    }
}

@include body_bg(societa);
@include body_bg(calcio);
@include body_bg(basket);
@include body_bg(atletica);
@include body_bg(volley);
@include body_bg(motoria);

.page-header-public {
    @extend .page-header; 
    border: none; 
    text-align: center; 
    font-size: 50px; 
    font-family: "Oswald", sans-serif; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
    @media(max-width: 480px) {
      font-size: 40px;
    }
}

.banner-public {
  margin-bottom: 20px;
  border-radius:2px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
  padding:10px;
  background-color: white;
}

.fb-like-box {
  @extend .banner-public;
  border: 1px solid $lightGray;
  padding:0;
  background-color: transparent;
}


.content-public {
    @extend .col-md-9;
    @extend .col-md-push-3;
}

.v_banners-public {
    @extend .col-md-3;
    @extend .col-md-pull-9;
}

.img-banner-public {
  width:100%;
  border-radius:2px;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    background-color: white;
}
.uiBoxLightblue {
    background-color: #000;
}

.public-alert {
  border-radius:1px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);  
}


/* > SMARTPHONE - TABLET 7 */
@media(min-width:991px) {
  .post-img-public {
    height: 250px;
    line-height: 248px;
  }
  .post-text-public {
    height: 200px;
  }
  /* TABLET 10 */
  @media(max-width: 1200px) {
    .post-img-public {
      height:200px;
      line-height: 198px;
    }
    .post-text-public {
      height: 200px;
    }
  }
}

@mixin post-date-pub {
  position:absolute;
  top:-2px;
  left:-2px;
  background-color:$usma-secondary;
  height: 60px;
  width:60px;
  box-shadow: 1px 1px 1px $gray-dark;
  padding-top: 5px;
  font-family: "Boogaloo", sans-serif;
  font-size:35px;
  line-height: 28px;
  text-align: center;
  color:white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  .month {
    display: block;
    font-size:18px;
    text-transform: uppercase;
  }
}

.news-public {
  @extend .row;
  .post-public-cell {
    @extend .col-md-6;
    .post-public {
      position: relative;
      background: white;
      color:$black;
      border-radius:2px;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);  
      margin-bottom: 20px;
      .post-date-public {  
        @include post-date-pub;
      }
      .post-text-public {
        padding:0 25px 25px 25px;
        .post-title-public {
          text-align: center;
          a {
            font-size: 21px;
            font-weight:bold;
            //color: $usma-secondary;
          }
        }
        .post-content-public {
          color: $gray-light;
          text-align: justify;
        }
      }
      .post-img-link-public {
        &:hover ~ .post-text-public > .post-title-public > h3 {
          text-decoration: underline;
          &>a {
            color:#2a6496;
          }
        }
        .post-img-public {
          background-color: $lightGray;
          text-align: center;
          .post-img {
            max-height: 100%;
            max-width:100%;
          }
        } 
      }
    }
  }
  .more-news {
    @extend .col-md-12;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    & a {
      @extend .btn-lg;
      color: $brand-primary;
      border: none;
      &:hover {
        color: darken($brand-primary, 20%);
      }
    }
  }
}

/* > SMARTPHONE */
// @media(min-width:991px) {
//   .post-public {
//     max-width: 380px;
//   }
//   @media(max-width:1200px) {
//     .post-public {
//       max-width: 300px;
//     }
//   }
// }