/* COLORS */
$usma-primary: gold;
$usma-secondary: #dd3333;
$black: #000000;
$lightBlack: #333333;
$darkBlue: $brand-primary;
$lightBlue: #d9edf7;
$lightGray: #D8D8D8;
//admin colors:
$adminGrayFrom: $gray-dark;
$adminGray: #8f8f8f;
$adminBlueFrom: darken($btn-info-bg, 20%);//#3A83AB;
$adminBlue: $btn-info-bg;//#53bbf4;
$adminOrangeFrom: darken($btn-warning-bg, 20%);//#B87C00;
$adminOrange: $btn-warning-bg;//#ffac00;
$adminGreenFrom: darken($btn-success-bg, 20%);//#7CA400;
$adminGreen: $btn-success-bg;//#b1eb00;
$adminPinkFrom: #CC6AA2;
$adminPink: #ff85cb;
$adminRedFrom: darken($btn-danger-bg, 20%);//#B22F20;
$adminRed: $btn-danger-bg;//#ff432e;

/* DIMENSIONS */
$standard-spacing: 20px;//1.5em;
$small-width: 350px;//30em;
$large-width: 600px;//50em;
$admin-btn-height: 120px;//6em;
$footer-height: 100px;//5em;
$placeholder-shadow: 0 0 10px #888;

/* LEADERBOARD */
@mixin admin-leaderboard-color($class, $colorTo, $colorFrom) {
    .admin-leaderboard-#{$class} {
        @extend .carousel-caption;
        background-color: $colorTo;
        @include gradient-vertical($colorFrom, $colorTo);
        position:static;
        height: 230px;//10em;
        width:100%;
        margin-bottom: $standard-spacing;
        h1 {
            font-size: 58px;
        }
        p {
            font-size: 24px;
        }
    }
}

@include admin-leaderboard-color(society, $adminGray, $adminGrayFrom);
@include admin-leaderboard-color(football, $adminGreen, $adminGreenFrom);
@include admin-leaderboard-color(basket, $adminOrange, $adminOrangeFrom);
@include admin-leaderboard-color(volley, $adminRed, $adminRedFrom);
@include admin-leaderboard-color(athletics, $adminBlue, $adminBlueFrom);
@include admin-leaderboard-color(motoria, $adminPink, $adminPinkFrom);

/* BUTTONS & ICONS */
@mixin glyphicons($name, $icon, $btn) {
    .btn-#{$name} {
        @extend .btn;
        @extend .btn-#{$btn};
        .icon {
            @extend .glyphicon;
            @extend .glyphicon-#{$icon};
        }
    }
}

@include glyphicons(new, plus, primary);
@include glyphicons(edit, pencil, info);
@include glyphicons(delete, trash, danger);
@include glyphicons(save, floppy-save, success);
@include glyphicons(upload, cloud-upload, primary);


html, body { height: 100%; font-family: 'Droid Sans', Arial, Helvetica, sans-serif;}

body { padding-top: 50px; /* same as navbar height */ }

.page-container {@extend .container; margin-top: 20px; margin-bottom:20px; width:100%}

.page-header {margin-top:0;}

.breadcrumb { border: 1px solid $lightGray; }

.btn-final { @extend .btn-lg; }

.pagination {margin: 5px 0;}

#push { height: $footer-height; }

footer {
    background-color:$gray-light;
    min-height: $footer-height;
    p {
        text-align: center;
        color:white;
        margin:$standard-spacing 0;
    }
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer-height);
}

.admin-btn {
    border-radius:2px;
    width:100%;
    height:$admin-btn-height;
    margin-bottom: $standard-spacing;
    line-height: (3*$admin-btn-height)/4;
    font-size: 1.8em;
}

/* FORM */
.form-center {
    max-width: $small-width;
    margin: 0 auto;
    .form-control {
        height:auto;
        padding: 10px;
        font-size: 16px;
    }
    .btn-block {
        margin: $standard-spacing 0;
    }
}

.form-center-lg {
    @extend .form-center;
    max-width:$large-width;
}

.form-center-full {
    @extend .form-center;
    max-width:100%;   
}

.form-select-input {
    @extend .form-center;
    select {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

    }
    input[type="password"] {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.form-3-input {
    @extend .form-center;
    input.first {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input.second {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input.third {
        margin-top: -2px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.form-3-input-lg {
    @extend .form-3-input;
    max-width: $large-width;
}

.callout {
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    h3 {
        margin-top:0;
    }
}

.callout-info {
    @extend .callout;
    border-left-color: $brand-info;
}

.controller { display: none; }

.sortable { margin-top: 10px; }

.center-img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/* NAVBAR MENU  */
.public-navbar {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;
    .container {
        width: 100%;
        max-width: 1500px;
    }
    border: none;
    background-color: gold;
    box-shadow: 0 1px 10px $gray-dark;
    .navbar-toggle {
        .icon-bar {
            background-color: $lightBlack;
        }
        &:hover .icon-bar, &:focus .icon-bar {
            background-color: white;
        }
    }
    .public-nav {
        @extend .nav; 
        @extend .navbar-nav;
        @extend .navbar-right;
        li > a {
            color: $lightBlack;
            &.active {
                background-color: $lightBlack;
            }
            &:hover, &:focus {
                color: $usma-secondary;
            }
        }
        .open {
            &>a, &>a:focus {
                background-color: $lightBlack;
            }
            .dropdown-menu > li > a {
                color:$lightBlack;
                &:hover {
                    color:$usma-secondary;
                }
            }
        }
    }

    .public-navbar-brand {
        @extend .navbar-brand;
    }

    .public-navbar-collapse {
        @extend .navbar-collapse;
        border: none;
    }
}

/* SMARTPHONE */
@media(max-width:768px) {
    .public-navbar .public-navbar-brand {
        padding:0;
        height: 50px;
        img {
            height:100%;
        }
    }
}
/* ELSE */
@media(min-width:768px) {
    body {
        padding-top:70px;
    }

    .public-navbar .public-nav {
        height: 70px;
        li {
            height: 100%;
            a {
                padding-left:20px;
                padding-right:20px;
                font-size:18px;
                line-height: 40px;
                height: 100%;
            }
        }
        
    }

    .public-navbar .public-navbar-brand {
        padding:0;
        height: 70px;
        img {
            margin-left:15px;
            height:100%;
        }
    }

    /* TABLET 10 */
    @media(max-width: 1200px) {
        .public-navbar .public-nav li > a {
            padding-left:15px;
            padding-right:15px;
            font-size:15px;
        }
    }

    /* TABLET 7 */
    @media(max-width: 991px) {
        .public-navbar .public-nav li > a{
            font-size:14px;
        }
    }
    @media(max-width: 900px) {
        .public-navbar .public-nav li > a{
            padding-left:12px;
            padding-right:12px;
            font-size:12px;
        }
    }
    @media(max-width: 790px) {
        .public-navbar .public-nav li > a{
            padding-left:10px;
            padding-right:10px;
        }
    }
}

.h_banners-public {
    @extend .col-md-9;
    @extend .col-md-push-3;
}

.v_banners-public {
    @extend .col-md-3;
    @extend .col-md-pull-9;
}

