// Place all the styles related to the sectors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-img {
    margin-right: 5px;
    margin-bottom: 15px;
    opacity: 0.7;
}