// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  background-color:$gray-light;
  height: 400px;
  h1 {
    text-shadow: 3px 3px 3px $gray-dark;
    font-family: "Boogaloo", sans-serif;
    font-weight: normal !important;
    font-size: 4em;
  }
}

.carousel-indicators > li, .carousel-indicators > li .active {
  background-color: white;
  border: 1px solid $gray-dark;
  box-shadow: 1px 1px 1px $gray-dark inset;
  width:16px;
  height: 16px;
}

.carousel-indicators .active {
    width:16px !important;
    height: 16px !important;
    margin: 1px;
    background-color: gold;
}

/* Declare heights because of positioning of img element */

.carousel .item {
  max-height: 400px;
  text-align: center;
  a {
    color: white;
  }
  &:hover a {
    color:gold;
    text-decoration:none;
  }
}

.carousel-inner > .item {
  height: 400px;
  .item-bg {
    position: relative; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      width: 50%;
    }
  }
}

@media(max-width:768px) {
  #public-carousel {
    max-height: 200px;
    h1 {
      font-size:40px;
    }
    .carousel-inner .item {
      max-height: 200px;
      line-height: 200px;
    }
  }
}

#body-public {
  background: url('bg-2.png');
  color: white;
}

.banner-public {
  margin-bottom: 20px;
}

.img-banner-public {
  width:100%;
  border-radius:3px;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    background-color: white;
}

@mixin sector-link-public($class, $color) {
  .sector-link-public-#{$class} {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-info;
    @extend .admin-btn;
    text-shadow: 1px 1px 1px $gray-dark;
    font-family: "Boogaloo", sans-serif;
    font-size: 4.5em;
    border-radius:2px;
    background-color: $color;
    border: solid 1px darken($color, 5%);
    &:hover{
      background-color: darken($color, 12%);
      border: solid 1px darken($color, 25%);
    }
    .sector-icon-public {
      height: 80%;
      color: white;
      margin:-20px 10px 0 0;
    }
  }
}

.sectors-public {
  @extend .row;
  .sector-public {
    @include sector-link-public(football, $btn-success-bg);
    @include sector-link-public(basket, $btn-warning-bg);
    @include sector-link-public(volley, $btn-danger-bg);
    @include sector-link-public(athletics, $btn-info-bg);
    @include sector-link-public(motoria, $adminPink);
  }
}

/* > SMARTPHONE - TABLET 7 */
@media(min-width:991px) {
  .post-img-public {
    height: 250px;
    line-height: 248px;
  }
  .post-text-public {
    height: 200px;
  }
  /* TABLET 10 */
  @media(max-width: 1200px) {
    .post-img-public {
      height:200px;
      line-height: 198px;
    }
    .post-text-public {
      height: 200px;
    }
  }
}

.news-public {
  @extend .row;
  .post-public-cell {
    @extend .col-md-6;
    .post-public {
      position: relative;
      background: white;
      color:$black;
      border-radius:3px;
      margin-bottom: 20px;
      .post-date-public {
        position:absolute;
        top:-2px;
        left:-2px;
        background-color:$usma-secondary;
        height: 60px;
        width:60px;
        box-shadow: 1px 1px 1px $gray-dark;
        padding-top: 5px;
        font-family: "Boogaloo", sans-serif;
        font-size:35px;
        line-height: 28px;
        text-align: center;
        color:white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        .month {
          display: block;
          font-size:18px;
          text-transform: uppercase;
        }
      }
      .post-text-public {
        padding:0 25px 25px 25px;
        .post-title-public {
          text-align: center;
          a {
            font-size: 21px;
            font-weight:bold;
            //color: $usma-secondary;
          }
        }
        .post-content-public {
          color: $gray-light;
          text-align: justify;
        }
      }
      .post-img-link-public {
        &:hover ~ .post-text-public > .post-title-public > h3 {
          text-decoration: underline;
          &>a {
            color:#2a6496;
          }
        }
        .post-img-public {
          background-color: $lightGray;
          text-align: center;
          .post-img {
            max-height: 100%;
            max-width:100%;
          }
        } 
      }
    }
  }
}

/* > SMARTPHONE */
@media(min-width:991px) {
  .post-public {
    max-width: 380px;
  }
  /* TABLET 10 */
  @media(max-width:1200px) {
    .post-public {
      max-width: 300px;
    }
  }
}