<% provide(:title, "Photo Gallery") %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_path %></li>
  <li class="active">Photo Gallery</li>
</ol>
<div class="page-container">
  <h2 class="page-header">Photo Gallery</h2>
  <p>Puoi gestire tutte le foto dalla piattaforma
    <a href="https://www.flickr.com/">Flickr</a>. Perché una foto venga visualizzata nel sito è necessario che sia inserita in un album, che a sua volta deve far parte di una raccolta tra quelle riportate di seguito.<br/>
    E` presente una raccolta per ogni settore:
    <strong>Società</strong>,
    <strong>Calcio</strong>,
    <strong>Basket</strong>,
    <strong>Volley</strong>,
    <strong>Atletica</strong>
    e
    <strong>Motoria</strong>.</p>
  <p>
    Quando hai scattato delle foto e vuoi inserirle nella photo gallery del sito segui le istruzioni riportate di seguito per creare un nuovo album su Flickr e associarlo ad una raccolta. Hai finito! :)
  </p>
  <div class="alert alert-warning">
    <strong>Attenzione:</strong>
    sei sempre libero di modificare un album da te caricato. Puoi rimuovere foto, eliminare l'abum, cambiare il titolo ecc., insomma puoi fare tutto quello che ti permette di fare la piattaforma Flickr.
  </div>
  <div class="callout-info">
    <h3 class="">Per creare un nuovo album su Flickr:</h3>
    <ol>
      <li>
        Vai a
        <a href="https://www.flickr.com/photos/upload/" target="_blank">https://www.flickr.com/photos/upload/</a>
        e se richiesto, effettua il login con le credenziali che ti sono state fornite.</li>
      <li>Clicca su "<strong>Seleziona video e foto</strong>".</li>
      <li>Seleziona tutte le foto relative all'album da caricare.</li>
      <li>Clicca su "<strong>Aggiungi agli album</strong>".</li>
      <li>Inserisci il nome del nuovo album e clicca "<strong>Crea album</strong>". Se vuoi puoi inserire una descrizione.</li>
      <li>Assicurati che sia presente la spunta sul nuovo album e clicca su "<strong>Fatto</strong>".</li>
      <li>Clicca su "<strong>Carica foto</strong>".</li>
      <li>Vai a
        <a href="https://www.flickr.com/photos/organize" target="_blank">https://www.flickr.com/photos/organize</a>
        e seleziona la scheda "<strong>Album e raccolte</strong>".</li>
      <li>Trascina l'album appena creato nella raccolta relativa al tuo settore.
        <div class="well well-sm"><strong>Esempio:</strong>
          trascina l'album delle foto dell'ultimo torneo di basket nella raccolta "Basket".</div></li>
    </ol>
  </div>
  <div class="alert alert-danger">
    <strong>Importante</strong>: l'ultimo passo è fondamentale. Se non si seleziona alcuna raccolta, l'album non verrà mostrato nel sito.
  </div>
</div>
