<div class="row">
  <div class="col-md-6"><%= link_to 'Carousel', admin_slides_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
  <div class="col-md-6"><%= link_to 'News', admin_posts_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
</div>