<footer>
  <div class="container">
    <p>P.Iva 02269810285 - www.usmacaselle.it<br/>
        USMA a.d. - Unione Sportiva Maria Ausiliatrice Associazione Dilettantistica - sede legale via Pelosa 63 - 35030 Selvazzano Dentro<br/>
        Impianti sportivi a Selvazzano Dentro via Pirandello 1 (calcio e motoria) e via Ceresina 63 (volley, basket e atletica) P.I. 02269810285 - C.F. 92032340280<br/>
        
    </p>
  </div>
</footer>
