<header>
  <!-- Navbar ================================================== -->
  <div class="public-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".public-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag('logo-gold.gif'), root_url, :class => "public-navbar-brand" %>
        <% if !yield(:nav_public).empty? && yield(:nav_public) == "nav_public_sector" %>
          <div class="back_to_home_container">
            <div class="back_to_home">
              <%= link_to raw(image_tag('back_arrow.png') + 'Vai al sito della società'), root_url %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="collapse public-navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="public-nav">
          <%= render 'layouts/' + yield(:nav_public) unless yield(:nav_public).empty?%>
        </ul>
      </div><!--/.public-navbar-collapse -->
    </div>
  </div><!--/.Navbar -->
  <%= render 'layouts/' + yield(:header_bottom) unless yield(:header_bottom).empty? %>
</header>
