<div class="page-container">
  <%= render 'layouts/admin_common' %>
  <div class="row">
    <div class="col-md-6"><%= link_to 'Photo Gallery', admin_gallery_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
    <div class="col-md-6"><%= link_to 'Sponsor', admin_banners_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
    <div class="col-md-12"><%= link_to 'Pagine Società', admin_static_pages_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
  </div>
</div>
