<div class="page-container">
  <%= render 'layouts/admin_common' %>
  <div class="row">
    <div class="col-md-4"><%= link_to 'Sponsor', admin_banners_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
    <div class="col-md-4"><%= link_to 'Contatti', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
    <div class="col-md-4"><%= link_to 'Pagine Società', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
  </div>
</div>
