<div class="page-container">
  <%= render 'layouts/admin_common' %>
  <div class="row">
    <div class="col-md-6"><%= link_to 'Shop', admin_items_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
    <div class="col-md-6"><%= link_to 'Photo Gallery', admin_gallery_path, :class => "btn btn-primary btn-lg admin-btn" %></div>
  </div>
  <div class="row">
    <div class="col-md-12"><%= link_to 'Categorie', '#', :class => "btn btn-primary btn-lg admin-btn", :disabled => true %></div>
  </div>
</div>
